<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Capital</th>
      <th scope="col">Año de conformacion</th>
    </tr>
  </thead>
  <tbody >
    <tr *ngFor="let pais of paises">
      <td>
        {{ pais.id }}
      </td>
      <td (click)="onSelected(pais)">
        {{ pais.name }}
      </td>
      <td>
        {{ pais.capital }}
      </td>
      <td>
        {{ pais.formation_year }}
      </td>
  </tr>
  </tbody>
</table>

